#### DSC550 <br> Michael Hotaling <br> Week 1  <br> 2020-11-28

In [1]:
import numpy as np
import pandas as pd

**1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive).**

In [2]:
nums = np.random.randint(1,501, size=(10, 50))

**Load it to a DataFrame.**

In [3]:
df = pd.DataFrame(nums, columns=np.arange(1,51))
df.index = np.arange(1, len(df) + 1)
df

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
1,54,266,301,329,208,229,111,14,190,486,...,297,258,181,218,116,366,287,146,482,164
2,327,439,36,328,411,141,223,314,110,9,...,21,475,461,286,277,2,499,61,26,26
3,35,422,134,195,417,279,308,68,109,147,...,87,424,66,116,207,336,191,332,54,68
4,136,11,240,248,244,335,172,12,297,156,...,471,52,69,432,296,488,440,97,290,174
5,246,122,436,274,17,463,211,226,353,314,...,29,490,262,48,337,50,139,238,462,273
6,426,179,316,126,157,418,28,225,6,4,...,336,154,82,385,402,70,117,47,36,41
7,249,471,65,56,492,437,329,109,310,181,...,380,208,410,148,105,276,409,13,282,385
8,227,376,157,57,303,32,98,433,262,205,...,2,309,82,68,214,353,68,394,220,385
9,426,1,312,132,442,245,308,185,312,186,...,106,170,115,398,89,50,349,166,74,330
10,118,321,302,225,436,319,233,436,4,369,...,108,122,272,476,490,8,120,419,275,482

**2) Calculate: <br>
a) the sum of each row:**

In [4]:
for i,j in enumerate(df.sum(axis=1), start = 1):
    print("Row {:>2} Sum: {}".format(i, j))

Row  1 Sum: 12434
Row  2 Sum: 12371
Row  3 Sum: 11702
Row  4 Sum: 11546
Row  5 Sum: 11389
Row  6 Sum: 11565
Row  7 Sum: 13019
Row  8 Sum: 12251
Row  9 Sum: 11927
Row 10 Sum: 13256

**b) the sum of each column**

In [5]:
for i,j in enumerate(df.sum(axis=0), start = 1):
    print("Column {:>2} Sum: {}".format(i,j))

Column  1 Sum: 2244
Column  2 Sum: 2608
Column  3 Sum: 2299
Column  4 Sum: 1970
Column  5 Sum: 3127
Column  6 Sum: 2898
Column  7 Sum: 2021
Column  8 Sum: 2022
Column  9 Sum: 1953
Column 10 Sum: 2057
Column 11 Sum: 2696
Column 12 Sum: 2464
Column 13 Sum: 2526
Column 14 Sum: 2788
Column 15 Sum: 2855
Column 16 Sum: 3474
Column 17 Sum: 2138
Column 18 Sum: 2654
Column 19 Sum: 1846
Column 20 Sum: 2850
Column 21 Sum: 2905
Column 22 Sum: 1802
Column 23 Sum: 1995
Column 24 Sum: 2986
Column 25 Sum: 2825
Column 26 Sum: 2197
Column 27 Sum: 2329
Column 28 Sum: 2228
Column 29 Sum: 2355
Column 30 Sum: 2182
Column 31 Sum: 2657
Column 32 Sum: 2209
Column 33 Sum: 2069
Column 34 Sum: 2923
Column 35 Sum: 2520
Column 36 Sum: 2596
Column 37 Sum: 2529
Column 38 Sum: 2559
Column 39 Sum: 2688
Column 40 Sum: 2749
Column 41 Sum: 1837
Column 42 Sum: 2662
Column 43 Sum: 2000
Column 44 Sum: 2575
Column 45 Sum: 2533
Column 46 Sum: 1999
Column 47 Sum: 2619
Column 48 Sum: 1913
Column 49 Sum: 2201
Column 50 Sum: 2328

**c) and the sum of all entries**

In [6]:
print("Total Sum: {}".format(df.values.sum()))

Total Sum: 121460

**3. Determine the minimum; maximum; average; and standard deviation of all entries.**

In [7]:
df.values.max()

499

In [8]:
df.values.min()

1

In [9]:
df.values.mean()

242.92

In [10]:
df.values.std()

147.4685783480671

**4) Sort the DataFrame: by rows, by columns, on row 2, on column 2.**

In [11]:
by_row = df.copy()
by_col = df.copy()
by_row_2 = df.copy()
by_col_2 = df.copy()

In [12]:
by_row.values.sort(axis = 0)
by_row

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
1,35,1,36,56,17,32,28,12,4,4,...,2,52,66,48,89,2,68,13,26,26
2,54,11,65,57,157,141,98,14,6,9,...,21,122,69,68,105,8,117,47,36,41
3,118,122,134,126,208,229,111,68,109,147,...,29,154,82,116,116,50,120,61,54,68
4,136,179,157,132,244,245,172,109,110,156,...,87,170,82,148,207,50,139,97,74,164
5,227,266,240,195,303,279,211,185,190,181,...,106,208,115,218,214,70,191,146,220,174
6,246,321,301,225,411,319,223,225,262,186,...,108,258,181,286,277,276,287,166,275,273
7,249,376,302,248,417,335,233,226,297,205,...,297,309,262,385,296,336,349,238,282,330
8,327,422,312,274,436,418,308,314,310,314,...,336,424,272,398,337,353,409,332,290,385
9,426,439,316,328,442,437,308,433,312,369,...,380,475,410,432,402,366,440,394,462,385
10,426,471,436,329,492,463,329,436,353,486,...,471,490,461,476,490,488,499,419,482,482

In [13]:
by_col.values.sort(axis = 1)
by_col

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
1,14,14,24,30,54,56,77,80,82,111,...,393,394,396,432,440,448,482,482,486,488
2,2,9,21,26,26,36,37,44,61,77,...,439,439,461,464,475,475,478,480,498,499
3,8,35,47,48,54,60,64,66,68,68,...,417,422,422,424,432,447,456,476,478,496
4,9,11,12,12,32,38,44,52,54,69,...,384,394,432,440,469,471,471,476,488,490
5,11,13,17,29,48,50,69,77,94,94,...,353,369,369,374,410,436,453,462,463,490
6,4,4,6,20,28,36,41,47,70,82,...,418,426,431,437,455,455,460,474,474,499
7,13,56,65,68,71,79,89,97,105,109,...,409,409,410,425,437,462,471,478,481,492
8,2,14,32,37,48,50,57,68,68,82,...,385,388,394,397,402,414,431,433,452,456
9,1,7,15,36,50,53,59,59,74,74,...,398,414,426,429,437,442,464,467,481,481
10,2,4,6,8,8,8,18,26,49,55,...,439,463,476,478,481,481,482,486,490,494

In [14]:
by_row_2.sort_values(axis = 0, by = 2)

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
9,426,1,312,132,442,245,308,185,312,186,...,106,170,115,398,89,50,349,166,74,330
4,136,11,240,248,244,335,172,12,297,156,...,471,52,69,432,296,488,440,97,290,174
5,246,122,436,274,17,463,211,226,353,314,...,29,490,262,48,337,50,139,238,462,273
6,426,179,316,126,157,418,28,225,6,4,...,336,154,82,385,402,70,117,47,36,41
1,54,266,301,329,208,229,111,14,190,486,...,297,258,181,218,116,366,287,146,482,164
10,118,321,302,225,436,319,233,436,4,369,...,108,122,272,476,490,8,120,419,275,482
8,227,376,157,57,303,32,98,433,262,205,...,2,309,82,68,214,353,68,394,220,385
3,35,422,134,195,417,279,308,68,109,147,...,87,424,66,116,207,336,191,332,54,68
2,327,439,36,328,411,141,223,314,110,9,...,21,475,461,286,277,2,499,61,26,26
7,249,471,65,56,492,437,329,109,310,181,...,380,208,410,148,105,276,409,13,282,385

In [15]:
by_col_2.sort_values(axis = 1, by = 2)

,46,10,41,50,49,3,24,19,48,33,...,30,2,43,13,29,42,18,25,37,47
1,366,486,297,164,482,301,394,150,146,313,...,144,266,181,387,82,258,347,378,243,287
2,2,9,21,26,26,36,37,44,61,77,...,439,439,461,464,475,475,478,480,498,499
3,336,147,87,68,54,134,257,8,332,152,...,255,422,66,144,74,424,456,341,349,191
4,488,156,471,174,290,240,394,211,97,279,...,96,11,69,384,116,52,205,230,12,440
5,50,314,29,273,462,436,254,410,238,250,...,11,122,262,113,269,490,314,94,177,139
6,70,4,336,41,36,316,138,349,47,92,...,175,179,82,280,193,154,20,251,82,117
7,276,181,380,385,282,65,265,97,13,144,...,364,471,410,380,171,208,300,79,409,409
8,353,205,2,385,220,157,344,37,394,323,...,456,376,82,50,327,309,112,214,151,68
9,50,186,106,330,74,312,481,59,166,437,...,59,1,115,269,262,170,355,467,239,349
10,8,369,108,482,275,302,422,481,419,2,...,183,321,272,55,386,122,67,291,369,120