#### DSC550 <br> Michael Hotaling <br> Week 1  <br> 2020-11-28

In [1]:
import numpy as np
import pandas as pd

**1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive).**

In [2]:
# Using numpy to generate 500 random numbers into an array of size 10,50
nums = np.random.randint(1,501, size=(10, 50))

**Load it to a DataFrame.**

In [3]:
# Loading the array into a dataframe using pandas. Column names will be 1-50
df = pd.DataFrame(nums, columns=np.arange(1,51))

# Forcing the index to start at 1
df.index = np.arange(1, len(df) + 1)
df

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
1,137,437,373,286,332,281,274,60,153,128,...,90,497,41,361,183,380,184,407,90,301
2,119,376,77,320,26,446,258,352,496,29,...,479,112,210,444,115,153,319,382,365,404
3,104,284,450,231,358,205,351,341,442,416,...,194,111,173,356,330,480,193,484,247,395
4,12,405,415,391,213,71,222,180,219,302,...,347,338,82,15,249,164,385,268,250,482
5,343,262,220,73,143,430,408,430,190,381,...,193,497,456,456,149,441,346,385,372,379
6,184,433,15,85,496,300,390,237,53,99,...,351,1,464,67,372,281,179,130,251,198
7,115,352,291,411,298,227,21,463,484,239,...,381,497,199,500,260,450,6,156,93,449
8,476,203,426,207,158,359,331,305,16,450,...,281,410,222,227,415,417,248,447,272,27
9,81,67,108,468,67,20,61,444,442,371,...,43,215,377,399,56,417,336,486,322,188
10,113,122,202,5,483,103,145,123,441,418,...,303,127,30,424,43,474,118,307,369,150

**2) Calculate: <br>
a) the sum of each row:**

In [4]:
# Creating an iterative loop that sums all 10 rows.

for i,j in enumerate(df.sum(axis=1), start = 1):
    print("Row {:>2} Sum: {}".format(i, j))

Row  1 Sum: 12141
Row  2 Sum: 12015
Row  3 Sum: 13617
Row  4 Sum: 12367
Row  5 Sum: 14360
Row  6 Sum: 12190
Row  7 Sum: 14291
Row  8 Sum: 12464
Row  9 Sum: 12372
Row 10 Sum: 11210

**b) the sum of each column**

In [5]:
# Creating an iterative loop that sums all 10 columns.

for i,j in enumerate(df.sum(axis=0), start = 1):
    print("Column {:>2} Sum: {}".format(i,j))

Column  1 Sum: 1684
Column  2 Sum: 2941
Column  3 Sum: 2577
Column  4 Sum: 2477
Column  5 Sum: 2574
Column  6 Sum: 2442
Column  7 Sum: 2461
Column  8 Sum: 2935
Column  9 Sum: 2936
Column 10 Sum: 2833
Column 11 Sum: 1398
Column 12 Sum: 2238
Column 13 Sum: 2327
Column 14 Sum: 3120
Column 15 Sum: 2269
Column 16 Sum: 2382
Column 17 Sum: 2794
Column 18 Sum: 2459
Column 19 Sum: 1440
Column 20 Sum: 2410
Column 21 Sum: 1915
Column 22 Sum: 2349
Column 23 Sum: 2453
Column 24 Sum: 2736
Column 25 Sum: 2018
Column 26 Sum: 1646
Column 27 Sum: 2786
Column 28 Sum: 2039
Column 29 Sum: 2606
Column 30 Sum: 2618
Column 31 Sum: 2504
Column 32 Sum: 2911
Column 33 Sum: 2400
Column 34 Sum: 2085
Column 35 Sum: 2501
Column 36 Sum: 2782
Column 37 Sum: 3026
Column 38 Sum: 3204
Column 39 Sum: 2747
Column 40 Sum: 2835
Column 41 Sum: 2662
Column 42 Sum: 2805
Column 43 Sum: 2254
Column 44 Sum: 3249
Column 45 Sum: 2172
Column 46 Sum: 3657
Column 47 Sum: 2314
Column 48 Sum: 3452
Column 49 Sum: 2631
Column 50 Sum: 2973

**c) and the sum of all entries**

In [6]:
# Using df.values.sum() to sum all the values in the dataframe

print("Total Sum: {}".format(df.values.sum()))

Total Sum: 127027

**3. Determine the minimum; maximum; average; and standard deviation of all entries.**

In [7]:
# Using df.values.max() to find the largest value in the dataframe

df.values.max()

500

In [8]:
# Using df.values.min() to find the smallest value in the dataframe

df.values.min()

1

In [9]:
# Using df.values.mean() to find the mean in the dataframe

df.values.mean()

254.054

In [10]:
# Using df.values.std() to find the standard deviation in the dataframe

df.values.std()

147.8185613649382

**4) Sort the DataFrame: by rows, by columns, on row 2, on column 2.**

In [11]:
# Creating copies of the first dataframe for the different sorts.

by_row = df.copy()
by_col = df.copy()
by_row_2 = df.copy()
by_col_2 = df.copy()

In [12]:
# Sorting each row from lowest value to highest value
# Lowest values start at top of the dataframe and the largest values are at the bottom

by_row.values.sort(axis = 0)
by_row

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
1,12,67,15,5,26,20,21,60,16,29,...,43,1,30,15,43,153,6,130,90,27
2,81,122,77,73,67,71,61,123,53,99,...,90,111,41,67,56,164,118,156,93,150
3,104,203,108,85,143,103,145,180,153,128,...,193,112,82,227,115,281,179,268,247,188
4,113,262,202,207,158,205,222,237,190,239,...,194,127,173,356,149,380,184,307,250,198
5,115,284,220,231,213,227,258,305,219,302,...,281,215,199,361,183,417,193,382,251,301
6,119,352,291,286,298,281,274,341,441,371,...,303,338,210,399,249,417,248,385,272,379
7,137,376,373,320,332,300,331,352,442,381,...,347,410,222,424,260,441,319,407,322,395
8,184,405,415,391,358,359,351,430,442,416,...,351,497,377,444,330,450,336,447,365,404
9,343,433,426,411,483,430,390,444,484,418,...,381,497,456,456,372,474,346,484,369,449
10,476,437,450,468,496,446,408,463,496,450,...,479,497,464,500,415,480,385,486,372,482

In [13]:
# Sorting each column from lowest value to highest value
# Lowest values start at left of the dataframe and the largest values are at the right

by_col.values.sort(axis = 1)
by_col

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
1,1,17,21,35,40,41,60,69,70,74,...,384,400,403,407,437,461,474,477,483,497
2,26,28,29,42,47,61,62,77,77,83,...,382,385,404,414,431,444,446,479,496,500
3,7,21,27,29,32,47,70,88,104,111,...,420,442,450,472,480,484,484,493,494,500
4,12,14,15,17,38,55,56,71,82,92,...,405,415,431,435,462,476,481,482,487,489
5,24,54,56,63,73,73,116,137,139,143,...,441,444,448,456,456,460,471,492,496,497
6,1,15,23,31,53,54,63,66,67,85,...,392,402,405,406,409,433,448,464,479,496
7,6,13,21,79,80,93,99,115,116,133,...,450,458,463,464,481,484,487,491,497,500
8,2,8,16,17,27,59,87,124,130,132,...,413,415,417,417,426,447,450,476,484,490
9,8,20,34,38,43,44,56,60,61,67,...,419,439,442,444,450,468,481,483,486,495
10,3,3,5,30,31,43,69,71,85,92,...,380,403,418,424,437,441,460,474,478,483

In [14]:
# Sorting all values in the dataframe based on the contents of row 2. 
# Retains the relative position of all the points while sorting the rows by row 2s contents

by_row_2.sort_values(axis = 0, by = 2)

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
9,81,67,108,468,67,20,61,444,442,371,...,43,215,377,399,56,417,336,486,322,188
10,113,122,202,5,483,103,145,123,441,418,...,303,127,30,424,43,474,118,307,369,150
8,476,203,426,207,158,359,331,305,16,450,...,281,410,222,227,415,417,248,447,272,27
5,343,262,220,73,143,430,408,430,190,381,...,193,497,456,456,149,441,346,385,372,379
3,104,284,450,231,358,205,351,341,442,416,...,194,111,173,356,330,480,193,484,247,395
7,115,352,291,411,298,227,21,463,484,239,...,381,497,199,500,260,450,6,156,93,449
2,119,376,77,320,26,446,258,352,496,29,...,479,112,210,444,115,153,319,382,365,404
4,12,405,415,391,213,71,222,180,219,302,...,347,338,82,15,249,164,385,268,250,482
6,184,433,15,85,496,300,390,237,53,99,...,351,1,464,67,372,281,179,130,251,198
1,137,437,373,286,332,281,274,60,153,128,...,90,497,41,361,183,380,184,407,90,301

In [15]:
# Sorting all values in the dataframe based on the contents of column 2. 
# Retains the relative position of all the points while sorting the columns by column 2s contents

by_col_2.sort_values(axis = 1, by = 2)

,5,28,10,22,40,19,34,3,16,20,...,48,11,50,29,31,44,6,41,9,38
1,332,236,128,483,378,69,124,373,198,284,...,407,17,301,70,263,361,281,90,153,208
2,26,28,29,42,47,61,62,77,77,83,...,382,385,404,414,431,444,446,479,496,500
3,358,353,416,305,334,32,88,450,371,334,...,484,112,395,284,29,356,205,194,442,350
4,213,328,302,254,221,145,476,415,94,175,...,268,56,482,279,146,15,71,347,219,431
5,143,297,381,24,492,139,279,220,144,331,...,385,54,379,137,274,456,430,193,190,205
6,496,327,99,100,405,54,103,15,127,303,...,130,374,198,262,392,67,300,351,53,342
7,298,307,239,481,254,431,271,291,487,116,...,156,13,449,292,79,500,227,381,484,133
8,158,152,450,390,2,201,413,426,59,170,...,447,196,27,160,177,227,359,281,16,200
9,67,8,371,199,299,216,60,108,450,495,...,486,74,188,406,373,399,20,43,442,483
10,483,3,418,71,403,92,209,202,375,119,...,307,117,150,302,340,424,103,303,441,352